<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card v-for="(post, id) in posts" :key="id" class="mb-3 post-card">
        <v-card-title>{{ id }}</v-card-title>
        <v-card-subtitle>{{ post.createdAt && post.createdAt.toDate() }}</v-card-subtitle>
        <v-card-text>{{ post.text }}</v-card-text>
      </v-card>
      <v-divider class="mb-5" />
      <v-card>
        <v-card-title>Create Post</v-card-title>
        <v-card-text>
          <v-textarea
            id="new-post-text"
            v-model="postText"
            label="Post message"
            :disabled="isCreating"
          />
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn id="create-post-btn" color="primary" :loading="isCreating" @click="sendPost">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data: () => ({
    postText: '',
  }),
  computed: {
    ...mapState('posts', {
      posts: state => state.data,
      isCreating: state => state.isCreating,
    })
  },
  mounted() {
    this.fetchPosts()
  },
  methods: {
    ...mapActions('posts', [
      'fetchPosts',
      'createPost',
    ]),

    async sendPost() {
      if (!this.postText) {
        return
      }

      await this.createPost({
        text: this.postText,
      })

      this.postText = ''
    },
  },
}
</script>
