<template>
  <v-card>
    <v-card-title>Sign in</v-card-title>
    <v-card-text>
      <v-form ref="form">
        <v-text-field
          id="email-field"
          v-model="signInCreds.email"
          :rules="rules.email"
          validate-on-blur
          label="Email"
        />
        <v-text-field
          id="password-field"
          v-model="signInCreds.password"
          :rules="rules.password"
          validate-on-blur
          label="Password"
          type="password"
        />
        <v-btn id="sign-in-btn" color="primary" :loading="isLoading" @click="signInAction">
          Sign in
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  layout: 'empty',
  data: () => ({
    signInCreds: {
      email: '',
      password: '',
    },
    rules: {
      email: [v => v.includes('@') || 'Invalid email'],
      password: [v => !!v || "Password can't be blank"]
    },
  }),
  computed: {
    ...mapState('auth', ['isLoading']),
  },
  methods: {
    ...mapActions('auth', [
      'signIn'
    ]),
    async signInAction() {
      if (!(await this.$refs.form.validate())) {
        return
      }
      try {
        await this.signIn(this.signInCreds)
        this.$router.replace('/')
      } catch (e) {
        console.log('error', e)
      }
    },
  },
}
</script>
